{% extends "posts/index.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block page %}
<head>
	<title>Список записей</title>
</head>
<body>
	{% for post in object_list %}
    <div class="well">
        <a href="../../posts/{{post.id}}">
            <p class="lead">{{ post.title}}</p>
        </a>    	
        <p>{{ post.content }}</p>
        <small>{{ post.timestamp }}</small>
    </div>
	{% empty %}
    	<p>No articles yet.</p>
	{% endfor %}
</body>
{% endblock %}

